{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <p>This site allows me to answer all the questions of the individual assignment of the ADVANCED WEB PROGRAMMING course</p>
{% endblock %}