{% extends 'base.html.twig' %}


{% block body %}
    <h2>All users register :</h2>
    <table>
        <thead>
        <tr>
            <th>Email<br></th>
            <th>Password Hash<br></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for user in users %}
        <tr>
                <td>{{ user.getEmail()}}</td>
                <td>{{ user.getPassword()}}</td>
        </tr>
            {% endfor %}


        </tbody>
    </table>

{% endblock %}